@import url('https://fonts.cdnfonts.com/css/bruno-ace-2');
@import url('https://fonts.cdnfonts.com/css/taruno-wide');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #121212;
	user-select: none;
}


/* Define Inter Display Font Faces */

@font-face {
	font-family: 'Inter Display';
	src: url('/public/fonts/InterDisplay-Thin.woff2') format('woff2');
	font-weight: 100; /* Thin */
	font-style: normal;
}
@font-face {
	font-family: 'Inter Display';
	src: url('/public/fonts/InterDisplay-Light.woff2') format('woff2');
	font-weight: 300; /* Light */
	font-style: normal;
}

@font-face {
	font-family: 'Inter Display';
	src: url('/public/fonts/InterDisplay-Regular.woff2') format('woff2');
	font-weight: 400; /* Regular */
	font-style: normal;
}

@font-face {
	font-family: 'Inter Display';
	src: url('/public/fonts/InterDisplay-Medium.woff2') format('woff2');
	font-weight: 500; /* Medium */
	font-style: normal;
}

@font-face {
	font-family: 'Inter Display';
	src: url('/public/fonts/InterDisplay-SemiBold.woff2') format('woff2');
	font-weight: 600; /* Semibold */
	font-style: normal;
}

@font-face {
	font-family: 'Inter Display';
	src: url('/public/fonts/InterDisplay-Bold.woff2') format('woff2');
	font-weight: 700; /* Bold */
	font-style: normal;
}
